input[type="number"] {
  max-width: 80%;
}

div.outer {
  position: fixed;
  top: 41px;
  left: 0;
  z-index: -2;
  right: 0;
  bottom: 0;
  overflow: hidden;
  padding: 0;
}

/* Customize fonts */
body, label, input, button, select { 
  font-family: 'Helvetica Neue', Helvetica;
  font-weight: 200;
}
body {
  background-image: url(discoballglobe3.png) ;
  background-position: center top;
  background-repeat: no-repeat ;
  background-color : #000000; 
  background-size: cover ;
}
h1, h2, h3, h4 { font-weight: 400;
                  text-align: center;
                  font-weight: bold;
}

#controls {
  /* Appearance */
  background-color: white;
  padding: 0 20px 20px 20px;
  cursor: move;
  /* Fade out while not hovering */
  /*opacity: 0.65;*/
  zoom: 0.9;
  transition: opacity 500ms 1s;
}
#controls:hover {
  /* Fade in while hovering */
  /* opacity: 0.95; */
  transition-delay: 0;
}

/* Position and style citation */
#cite {
  position: absolute;
  bottom: 10px;
  left: 10px;
  font-size: 12px;
}

/* If not using map tiles, show a white background */
.leaflet-container {
  background-color: white !important;
}

#map_flights_count, #map_passengers_count {
  font-weight: bold;
}

#map_flights_count_details, #map_passengers_count_details {
  font-weight: bold ;
  font-size: small ;
}

#map_flights_city_country{
  font-weight: bold;
}

#irs-single{ 
  visibility: hidden ;
}
